


 	<style>
            #LogoutLink {display: none;}
	</style>
	
	
	<script src='https://www.google.com/recaptcha/api.js'></script>
  
	
 <div class="container">
	 
	<form action="/login" method="POST" style="width: 80 %;" class="ui form">
  		<div class="field">
   		 <label>User Name</label>
    		 <input type="text" name="username" placeholder="Username">
  		</div>
  
		<div class="field">	
		Password: <input type="password" onfocus="this.value=''"  name="password"  value="FakePSW" class="myInput">
 		</div>
      		
		<button class="ui button" type="submit">Submit</button>
    	</form>
    
</div>




